<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre">
<p-accordion expandIcon="" collapseIcon="" [activeIndex]="index">
  <p-accordionTab class="tab" header="current/upcoming" (mouseover)="index = 0" (mouseleave)="index = 0" [(selected)]="activeState[0]">
  <app-current></app-current>
  </p-accordionTab>
  <p-accordionTab class="tab" header="previous"  [(selected)]="activeState[3]">
    <article style="text-align: right;">
      <span id="show-title"> 1. Peinlichkeit der Ordnung </span><br>
      <span id ="show-artist">Janis Löhrer | Michel Gomm </span><br>
      <span style="font-size: 0.75rem; opacity:0.9;">Opening on DEC 17 2022 17:00<br>after opening by appointment only</span>
    </article>
  </p-accordionTab>
  <p-accordionTab class="tab" header="about"  [(selected)]="activeState[4]">
    <article style="text-align: justify;">
      <span>
        Our curatorial Project "Picaresque" started in 2022.
        The title was named after one of the famous Spanish genres of literature back in the 16th Century. The purpose of this project is to reconstruct the existing philosophy of art by presenting to the world, from our perspective, the trends in art that are changing at an accelerated pace, as well as the extremely common spread of the Internet and SNS and the high speed of the media, or micro trends that cannot be captured by existing galleries and other institutions. The protagonists of picaresque literature were not only not of noble lineage, but were also thugs and ruffians, exposing the contradictions that existed in society. In this project, we would like to present art works that have not been exposed to the sun as protagonists to society in various ways.
      </span>
    </article>
  </p-accordionTab>
  <p-accordionTab class="tab" header="location"  [(selected)]="activeState[1]">
  <app-location></app-location>
  </p-accordionTab>
  <p-accordionTab class="tab" header="contact"  [(selected)]="activeState[2]">
    <article style="text-align: right;" >
      <span id="contactData"> info(at)picaresque.de
        <br> + 49 (O)211 5692 4289
      </span>
    </article>
  </p-accordionTab>
  <p-accordionTab class="tab" header="archive"  [(selected)]="activeState[5]">
    <p-accordion expandIcon="" collapseIcon="" >
      <div class="ausstellung">
        <p-accordionTab header="1 Michel Gomm | Janis Löhrer" >
          <p> <span class="text" style="text-align: right; color:whitesmoke">For the Peinlich der Ordnung exhibition
            -Prose for images of accumulation-
            Written by Maya.K
            An empty room exposed to fragmented information covered in endless dust appears translucent, allowing one to peer into other rooms vaguely.
            A space with several such rooms allows a faint, blurred view of other rooms but no clear distinction.
            The dust-filled room you are now in may be about to burst, or it may avoid accumulation through some clever invention or good fortune.
            The dust increases rapidly yearly, and it feels futile even to organise it.
            However, if you are going to be the right person, they say, you have to work through it somehow. (but how?)
            You want to be released from the pain of organising, but then you will gradually find it harder and harder to breathe.
            Organising becomes necessary to breathe.
            Oh, how on earth can you escape from this catch-22?
            Janis Löhrer and Michel Gomm, exhibiting this new art space at Picaresque, were brought together by a series of coincidences.
            Although their styles are pretty different, one feels a faint commonality, resulting in an unusual agreement between them.
            In this room which rejects organisation, the traces of accumulated dust (images/information) acquire their unique gravity as they dance in space.
            Looking closely, one sees accumulations of people in uncomfortable and unnatural poses and popular icons that have been strangely warped.
            They quietly, yet with the threat of bursting, offer sincerity in the space as they shine forth.</span>
          </p>
            <article style="align-content: right;" >
            <div class="michell">
              <a href="https://drive.google.com/uc?export=view&id=1FNZEM-Ex-PwOj5qoYDUdeL-ACoeXM992">
                <img src="https://drive.google.com/uc?export=view&id=1FNZEM-Ex-PwOj5qoYDUdeL-ACoeXM992"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1hiB44-Nn8UgO-zgFR0IWV_n7Esn33Aba">
                <img src="https://drive.google.com/uc?export=view&id=1hiB44-Nn8UgO-zgFR0IWV_n7Esn33Aba"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1XPUlMVXTlQndSy0t1iQWkDcLyAHfNMv0">
                <img src="https://drive.google.com/uc?export=view&id=1XPUlMVXTlQndSy0t1iQWkDcLyAHfNMv0"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1S6sp0ZmKaK1bIAYq8oIeyGcJ46R5Etc3">
                <img src="https://drive.google.com/uc?export=view&id=1S6sp0ZmKaK1bIAYq8oIeyGcJ46R5Etc3"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1nshaIka73Npx_kzFmvNgqIWgUvNEErlY">
                <img src="https://drive.google.com/uc?export=view&id=1nshaIka73Npx_kzFmvNgqIWgUvNEErlY"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
            </div>
            <div class="janis">
              <a href="https://drive.google.com/uc?export=view&id=1uV2P9toErB1Yl5swEsjnpZb4GL8hl9Ux">
                <img src="https://drive.google.com/uc?export=view&id=1uV2P9toErB1Yl5swEsjnpZb4GL8hl9Ux"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1-q-AH5AJTlJVJuaSgWhgh5gvweA82fU6">
                <img src="https://drive.google.com/uc?export=view&id=1-q-AH5AJTlJVJuaSgWhgh5gvweA82fU6"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1e-EstpbjdF3Te3Le-LPP1tU8FgqU1JPE">
                <img src="https://drive.google.com/uc?export=view&id=1e-EstpbjdF3Te3Le-LPP1tU8FgqU1JPE"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1z0D1A69_ih381SkF6s7bMmHNUH63BvOd">
                <img src="https://drive.google.com/uc?export=view&id=1z0D1A69_ih381SkF6s7bMmHNUH63BvOd"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=12Tbr7SUuBdiMjAtPr1NyXvGbrODWJmxZ">
                <img src="https://drive.google.com/uc?export=view&id=12Tbr7SUuBdiMjAtPr1NyXvGbrODWJmxZ"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1HCrIFRsGjJ-voJzLfgC--UQQvIUBSuWG">
                <img src="https://drive.google.com/uc?export=view&id=1HCrIFRsGjJ-voJzLfgC--UQQvIUBSuWG"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=12Kug5Hw25DUXuVou2STCfSsPsZ89NwF0">
                <img src="https://drive.google.com/uc?export=view&id=12Kug5Hw25DUXuVou2STCfSsPsZ89NwF0"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1UaEx6UvlJvkWeWicsKIok6bvQ7oHtFYS">
                <img src="https://drive.google.com/uc?export=view&id=1UaEx6UvlJvkWeWicsKIok6bvQ7oHtFYS"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=12Wq2zAfck-6UXVDUD9B32NfDGIzNr12G">
                <img src="https://drive.google.com/uc?export=view&id=12Wq2zAfck-6UXVDUD9B32NfDGIzNr12G"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1AaNLZDlER2rLOpXAPTr0eTiMyUX9O7Nc">
                <img src="https://drive.google.com/uc?export=view&id=1AaNLZDlER2rLOpXAPTr0eTiMyUX9O7Nc"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1iRAlPrZMcDJBexZfKB25YcWu7QDWiUom">
                <img src="https://drive.google.com/uc?export=view&id=1iRAlPrZMcDJBexZfKB25YcWu7QDWiUom"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=11yyai5Q-eNPe_N2wCOlmabeofbujT4Tb">
                <img src="https://drive.google.com/uc?export=view&id=11yyai5Q-eNPe_N2wCOlmabeofbujT4Tb"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1TqGJAvVX0SG4SHI-6wAwjTuiYNX87KpT">
                <img src="https://drive.google.com/uc?export=view&id=1TqGJAvVX0SG4SHI-6wAwjTuiYNX87KpT"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1Phs4vLb3pz8uzw7TfLDfYxwwPIu_VMKN">
                <img src="https://drive.google.com/uc?export=view&id=1Phs4vLb3pz8uzw7TfLDfYxwwPIu_VMKN"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=1RASLWFB4aa939XJbVpHhvBWOxwHefeUh">
                <img src="https://drive.google.com/uc?export=view&id=1RASLWFB4aa939XJbVpHhvBWOxwHefeUh"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
              <a href="https://drive.google.com/uc?export=view&id=137TL3oc4OLMHin5q7EmKWpNAFJQ1D1BR">
                <img src="https://drive.google.com/uc?export=view&id=137TL3oc4OLMHin5q7EmKWpNAFJQ1D1BR"
                style="width: 500px; max-width: 100%; height: auto"
                title="Click for the larger version." />
              </a>
            </div>
          </article>
        </p-accordionTab>
      </div>
      <div class="ausstellung">
        <!-- <p-accordionTab header="2 Tadashi Toyama | Jana kurashvili" >
          <article style="align-content: right;" >
          </article>
        </p-accordionTab> -->
      </div>
      <div class="ausstellung">
        <p-accordionTab header="Posters" >
            <a href="https://drive.google.com/uc?export=view&id=1WnwtwdMDwlUW3H1dI7QgZCkWWBOqCYLH">
              <img src="https://drive.google.com/uc?export=view&id=1WnwtwdMDwlUW3H1dI7QgZCkWWBOqCYLH"
              style="width: 500px; max-width: 100%; height: auto"
              title="Click for the larger version." />
            </a>
            <a href="https://drive.google.com/uc?export=view&id=17hDXI5aBY4NLOUlxIhEyYHnKFQEpEF7w">
              <img src="https://drive.google.com/uc?export=view&id=17hDXI5aBY4NLOUlxIhEyYHnKFQEpEF7w"
              style="width: 500px; max-width: 100%; height: auto"
              title="Click for the larger version." />
            </a>
        </p-accordionTab>
      </div>
    </p-accordion>
  </p-accordionTab>
  <p-accordionTab class="tab" header="impressum">
    <article class='impressum' style="text-align: right;">Angaben gemäß § 5 TMG<p>Satoshi Nakase<br>
      Höherweg 41<br>
      40233 Düsseldorf <br>
      </p><p><strong>Kontakt:</strong> <br>
        <span>
      E-Mail:info(at)picaresque.de<br>
    </span></p>
    </article>
    </p-accordionTab>
</p-accordion>
