<div class="header"><h3>picaresque</h3></div>
<p-accordion [activeIndex]="index" (mouseleave)="index=null">
  <p-accordionTab header="current/upcoming" (mouseover)="index = 0"  [(selected)]="activeState[0]">
    <article>
      Jannis Löhrer | Michel Gomm <br>
      <span style="font-size: 0.75rem; opacity:0.9;">Opening on 17 DEC 2022<br>after opening only with appointment</span>
    </article>
  </p-accordionTab>
  <p-accordionTab header="location" (mouseover)="index = 1"  [(selected)]="activeState[1]">
    <article >Höherweg 41 Düsseldorf</article>
  </p-accordionTab>
  <p-accordionTab header="mail" (mouseover)="index = 2" [(selected)]="activeState[2]">
    <article > info(at)picaresque.de
    </article>
  </p-accordionTab>
  <p-accordionTab header="impressum">
    <article class='impressum'><p>Angaben gemäß § 5 TMG</p><p>Satoshi Nakase<br>
      Höherweg 41<br>
      40233 Düsseldorf <br>
      </p><p><strong>Kontakt:</strong> <br>
      E-Mail:info(at)picaresque.de</p>
      </article>
    </p-accordionTab>

</p-accordion>
<div class="footer"><p style="font-size: 10px;"></p></div>
