div.header{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(81, 0, 81);
}

article{
  display:flex;
}

.side-wrapper {
  width:90px;
  height:400px;
  text-align:center;
}

.main-wrapper{
  width:300px;
  height:300px;
  text-align:center;
  margin-left:10px;
}


